.attendance-table-container {
  height: 40vh; /* Fixes the height to 40% of the viewport height */
  overflow-y: auto; /* Enables vertical scrolling */
  margin-top: 0; /* Keeps the top margin at 0 */
  width: 100%; /* Matches the width of the content-side */
  overflow-x: hidden; /* Disables horizontal scrolling */
}

.attendance-history-heading {
  font-size: 25px;
  color: #5d3f92;
  font-weight: bold;
  padding: 0 20px;
  margin-top: 20px; /* Ensures some space above the heading if needed */
  margin-bottom: 10px; /* Reduces gap between the heading and the table */
  text-shadow: 2px 2px 4px rgba(15, 1, 1, 0.1); /* Subtle shadow for depth */
}

/* Styles for the table */
.attendance-table {
  width: 100%;
  min-width: 600px; /* Ensures table does not become too narrow */
  border-collapse: collapse;
  table-layout: fixed; /* Helps maintain consistent column widths */
}

.attendance-table thead {
  background-color: #5d3f92;
  color: white;
  position: sticky; /* Makes the header sticky */
  top: 0; /* Sticks the header to the top */
  z-index: 10; /* Keeps the header on top of the table content */
}

.attendance-table th,
.attendance-table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.attendance-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.attendance-table td:hover {
  background-color: #f1f1f1;
}

.attendance-table .Present {
  color: #2a9d8f;
}

.attendance-table .Late {
  color: #e63946;
}

.attendance-table .Absent {
  color: #ffa500;
}
